@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 1rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.1rem 1rem;
    --padding-1: 0.5vw;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    /* user-select: none; */
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    color: var(--color-dark);
}


h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

h3 {
    font-weight: 500;
    font-size: 0.87rem;
}

small {
    font-size: 0.76rem;
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}


.primary {
    color: var(--color-primary);
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .datas {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1vw;
        background-color: var(--color-white);
        border-radius: var(--border-radius-1);
        box-shadow: var(--box-shadow);

        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 1vw;
            padding: 0.5vw;
        }

        label {
            font-size: 0.8vw;
        }

        select {
            color: var(--color-dark);
            background-color: transparent;
            font-size: 0.8vw;

            option {
                background-color: var(--color-white);
            }

        }
    }
}


#menu-btn {
    display: none;
    background-color: transparent;
    color: var(--color-dark);
}


.container {
    display: grid;
    width: 97%;
    margin: 0.5vw;
    gap: 1.5rem;
    grid-template-columns: 12rem auto;
}

aside {
    display: flex;
}

aside .toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1.4rem;
}

aside .toggle .logo {
    display: flex;
    gap: 0.5rem;
}

aside .toggle .logo img {
    width: 2rem;
    height: 2rem;
}

aside .toggle .close {
    padding-right: 1rem;
    display: none;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    position: relative;
    width: 100%;
    transition: all 0.3s ease;
}

aside .sidebar:hover {
    box-shadow: none;
}

aside .sidebar a {
    display: flex;
    align-items: center;
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

aside .img-user {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    margin-bottom: 3vw;

    img {
        width: 80%;
    }
}

header span {
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    width: 100%;
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active::before {
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 0.6rem;
}


main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.75rem;
}

main .analyse {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;
}

main .analyse>div {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    height: 8vw;
}

#valor_entrada {
    color: #06d6a0;
}

#valor_saida {
    color: #ef233c;
}

main .analyse>div:hover {
    box-shadow: none;
}


main .analyse h3 {
    margin-left: 0.6rem;
    font-size: 1rem;
}

.charts-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.75rem;
    width: 100%;
    grid-auto-rows: 15vw;
}


.chart_card:nth-child(1),
.chart_card:nth-child(2),
.chart_card:nth-child(3) {
    grid-column: span 2;
}

.chart_card:nth-child(4),
.chart_card:nth-child(5) {
    grid-column: span 3;
}


#iframe {
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    padding: 0.5vw;
}

.chart_card {
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    padding: 0.5vw;
    height: 15vw;
    transition: all 0.3s ease;
    ;
}

.chart_card:hover {
    box-shadow: none;
}

.card-tabela {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 0.5vw;
}

.card-tabela::-webkit-scrollbar {
    display: none;
}

table {
    width: 43vw;
    border-collapse: collapse;
}

thead th {
    position: sticky;
    top: 0;
    background-color: var(--color-white);
    color: var(--color-text);
    z-index: 1;
    padding-top: 8px;
}

tbody td {
    padding: 8px;
}

th,
td {
    text-align: left;
}


.card-tabela {
    padding-top: 0;
}

.chart_card:last-child {
    padding-top: 0;
}

#tabela-movimentacoes {
    height: 14vw;
    overflow-y: scroll;
    line-height: 1vw;
}

#tabela-movimentacoes::-webkit-scrollbar {
    display: none;
}

/* ----------------------------------------------------------------------- */


@media screen and (max-width: 968px),
screen and (orientation: portrait) {

    .container {
        width: 100%;
        height: 100vh;
        grid-template-columns: 1fr;
        padding: 0 var(--padding-1);
    }

    #menu-btn {
        display: block;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding-top: 3vw;
        width: 100%;
        font-size: 1vw;

        h1 {
            display: none;
        }

        .datas {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;

            div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 2vw;
                padding: 1vw 3vw;
            }

            label {
                font-size: 4.5vw;
            }

            select {
                color: var(--color-dark);
                background-color: transparent;
                font-size: 5vw;
            }
        }
    }


    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 2.5vw;
    }

    #tabela-movimentacoes {
        height: auto;
        line-height: 5vw;
    }


    .hide-mobile {
        display: none;
    }

    aside {
        position: fixed;
        background-color: var(--color-white);
        width: 15rem;
        top: 0;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh !important;
        left: -100%;
        display: none;
        animation: showMenu 0.4s ease forwards;
    }

    main {
        display: flex;
        justify-content: flex-start;

    }

    aside .sidebar {
        height: 100vh;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    main .analyse {
        grid-template-columns: 1fr;
        gap: 5vw;

    }

    main .analyse>div {
        height: 20vw;
    }

    .charts-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 5vw;
        margin-top: 3vw;
    }

    .chart_card {
        padding: 3vw;
        margin-top: 0;
        height: 35vh;
    }

    .chart_card:last-child {
        padding-top: 0;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;
    }

    aside .toggle .close {
        display: inline-block;
        cursor: pointer;
    }

    main {
        padding: 0 1rem;
    }


}